<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Dvere" version="1.0.2" viewmodes="maximized">
    <tizen:application id="EULa1IKlDw.Dvere" package="EULa1IKlDw" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Dvere</name>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth"/>
    <tizen:profile name="wearable"/>
</widget>
